{% extends 'base.html' %}
{% block title %}
Django  | Administrar Inventario
{% endblock %}

{% block body %}
<center><h3>Crear Inventario</h3></center>
<form class="form-inline" action="create" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" class="form-control" style="width:30%;" required="required"/>
        <label for="descripcion">Descripción</label>
        <input type="text" name="descripcion" class="form-control" style="width:30%;" required="required"/>
        <label for="tipo">Tipo</label>
        <input type="text" name="tipo" class="form-control" style="width:30%;" required="required"/>
        <label for="serial">Serial</label>
        <input type="text" name="serial" class="form-control" style="width:30%;" required="required"/>
        <label for="valorcompra">Valor Compra</label>
        <input type="text" name="valorcompra" class="form-control" style="width:30%;" required="required"/>
        <label for="fechadecompra">Fecha de compra</label>
        <input type="date" name="fechadecompra" class="form-control" style="width:30%;" required="required"/>
        <label for="area">Area</label>
        <input type="text" name="area" class="form-control" style="width:30%;" required="required"/>
        <label for="persona">Persona</label>
        <input type="text" name="persona" class="form-control" style="width:30%;" required="required"/>
        <label for="estado">Estado</label>
        <input type="text" name="estado" class="form-control" style="width:30%;" required="required"/>

        <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
    </div>
</form>
<br />
<center><h3>Lista</h3></center>
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>DB_ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Tipo</th>
            <th>Serial</th>
            <th>Valor Compra</th>
            <th>Fecha de compra</th>
            <th>Area</th>
            <th>Persona</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for db in key %}
        <tr>
            <td>{{ db.id }}</td>
            <td>{{ db.nombre }}</td>
            <td>{{ db.descripcion }}</td>
            <td>{{ db.tipo }}</td>
            <td>{{ db.serial }}</td>
            <td>{{ db.valorcompra }}</td>
            <td>{{ db.fechadecompra }}</td>
            <td>{{ db.area }}</td>
            <td>{{ db.persona }}</td>
            <td>{{ db.estado }}</td>
            
            <td><center><a class="btn btn-sm btn-warning" href="update/{{ db.id }}"><span class="glyphicon glyphicon-edit"></span> Actualizar</a> <a class="btn btn-sm btn-danger" href="delete/{{ db.id }}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}